<!DOCTYPE html>
<html lang="en">
<header>
    <h1>To-Do List App</h1>
    <nav>
        <ul>
            <li>
                <a href="/addTask">Create A Task</a>
            </li>
            <li>
                <a href="/">View To-Do List</a>
            </li>
            <!--<li>-->
            <!--    <a href="/taskList">View To-Do List</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--    <a href="/taskList">View To-Do List</a>-->
            <!--</li>-->
        </ul>
    </nav>

</header>
